# PostgreSQL
POSTGRES_USER=user_name
POSTGRES_PASSWORD=passowrd
POSTGRES_DB=db_name

# Backend
DB_HOST=host_psql
DB_PORT=psql_port
DB_NAME=db_name
DB_USER=user_name
DB_PASSWORD=passowrd
REDIS_HOST=redis_host
REDIS_PORT=redis_port
FLASK_ENV=env_name

# Grafana
GF_SECURITY_ADMIN_PASSWORD=gf_password